wrapper {
   width: 1920px;
   height: auto;
   margin-top: 5%;
}

.header {
   width:80%;
   height: 120px;
   margin: auto;
   justify-content: center;
   display: flex;
   list-style-type: none;
   flex-direction: row;
}
.header .logo {
   width: 20%;
   height: 100%;
   background-color: lightyellow;;
   float: left;
   font-size: 50px;
   text-align: center;
   font-weight: normal;
}
.header .search {
   width: 50%;
   height: 48px;
   border: 3px solid mistyrose;
   background-color: white;
   display : flex;
   justify-content: center;
}
.search form {
   width: 20%;
   height: 100%;
   border:0;
   background-color: mistyrose;
   outline: none;
   margin-top: 5% 5%;
}
.search select {
   width: 100%;
   height: 100%;
   border:0;
   background-color: mistyrose;
   font-size: 80%;
   color: black;
   outline: none;
   margin: auto;
   float: left;
}
.search input {
   font-size: 80%;
   width: 60%;
   padding: 10px;
   border:0;
   outline: none;
   display : flex;
   margin: auto;
   float: left;
}
.search button {
   width: 10%;
   height: 100%;
   border:0;
   background-color: mistyrose;
   outline: none;
   float: right;
   color: black;
}
.search button:hover{
   width: 10%;
   height: 100%;
   border:0;
   background-color: white;
   outline: none;
   float: right;
   color: mistyrose;
}
.header .login {
   width: 20%;
   height: 100%;
   margin:auto;
}
.login button {
   width: 80%;
   height: 40%;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   transition-duration: 0.4s;
   cursor: pointer;
   background-color: mistyrose; 
   color: black; 
   border: 2px solid bromistyrosewn;
}
.login button:hover {
   background-color: white;
   color: mistyrose;
}

.main {
   width: 80%;
   height: auto;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 1%;
   display: flex;
   list-style-type: none;
   flex-direction: row;
}
.main .Category {
   width: 20%;
   height: auto;
   background-color: lightpink;
   float: left;
}
.Category .cate_list {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active .cate_list:hover {
   background-color: #555;
}
.category {
   padding: 0 10px; 
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   background-color: #f1f1f1;
}
.cate_list:after {
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}
.active:after {
   content: "\2212";
}
.Category a {
   text-decoration: none;
}

.main .rolling_book {
   width:70%;
   height: auto;
   float: left;
}
.rolling_book table {
   width: 100%;
   height: 150px;
   margin:auto;
   border: 1px solid black;
}
.rolling_book table th {
   text-align: left;
   vertical-align: middle;
   background-color: lightcoral;
}
.rolling_book table td {
   width : 100%;
   height : 150px;
   background-color: white;
   margin:0;
   padding:0;
}
.rolling_book swiper-container {
   width: 100%;
   height: 100%;
}
.rolling_book swiper-slider {
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.rolling_book swiper-slider img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.rolling_book table button {
   vertical-align: middle;
   border: none;
   background-color: transparent;
}
.footer{
   width: 100%;
   height: 50px;
}